*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #1862f7;
    color: #d0c309;
    padding-right: 100px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    
}

.home,
.skills,
.contact,
.signup,
.twitter,
.about{
    text-decoration: none;
    color: #d0c309;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.mobile-menu-icon{
    display: none;
}


@media screen and (max-width:780px) {
    .log{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;

    }

    .nav-links{
        display: none ;
    }

    ul > li{
        padding: 20px;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: aliceblue;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 50px;
        top:30px;
    }
    .home,
    .skills,
    .contact,
    .signup,
    .about{
        color: #d0c309;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-out;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #1862f7;
        border: none;
        outline: none;
        top: 30px;
        right: 25px;
    }

   
}

.logo{
    font-size: 30px;
}